body,
.lesson-answer-comment {
  background: #333333 !important;
}

.comments-tree .worker .text,
.b-like .button,
a {
  color: #94c2ea !important;
}

.center-block,
.center-block,
.container {
  max-width: none !important;
  width: auto !important;
}

.block-set,
.text-muted,
.answer-text,
.text-content {
  color: #eee !important;
}

.comments-tree,
.block-set {
  font-size: 16px !important;
  line-height: 26px !important;
}

.simple-answer .new-comment-textarea,
.simple-answer input {
  color: #333333 !important;
}

body.gc-user-logined {
  color: white !important;
}

.comment-form-wrapper .new-comment-textarea {
  background-color: #222;
}

.stream-table tr td {
  background-color: #F7F7F7;
  border-bottom: 8px solid;
}

.lesson-header-block.row-section,
.lesson-list {
  background-color: #333 !important;
}

.user-state-bg,
.lesson-list li .info {
  background-color: #111 !important;
}

/***/

html {
  --container-width: 100% !important;
}

.lite-page .lt-block .container {
  max-width: none !important;
}
